// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
display: block;
color:rgb(99, 140, 185);
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

  table{
    margin-left: 15px;
    width:60vw; 
    border-collapse:collapse; 
  }
  table th
  {
     font-weight: bolder;
     border:#4e95f4 1px solid;
    border-bottom: #302670;
border-bottom-width: thick;
border-bottom-style: double;
    background:#dae5f4;
  }
  table td{ 
    padding:7px; border:#4e95f4 1px solid;
  }
  /* provide some minimal visual accomodation for IE8 and below */
  table tr{
    background: #b8d1f3;
  }
  /*  Define the background color for all the ODD background rows  */
  table tr:nth-child(odd){ 
    background: #b8d1f3;
  }
  /*  Define the background color for all the EVEN background rows  */
  table tr:nth-child(even){
    background: #dae5f4;
  }


